<?xml version="1.0" encoding="UTF-8" ?>

<config xmlns="http://thelia.net/schema/dic/config"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:schemaLocation="http://thelia.net/schema/dic/config http://thelia.net/schema/dic/config/thelia-1.0.xsd">

    <loops>
        <loop name="related_content" class="RelatedContent\Loop\RelatedContent" />
    </loops>

    <forms>
        <form name="related-content.admin" class="RelatedContent\Form\RelatedContentForm" />
    </forms>

    <commands>
        <!--
        <command class="MyModule\Command\MySuperCommand" />
        -->
    </commands>

    <services>
        <service id="related_content.action" class="RelatedContent\Action\RelatedContent">
            <tag name="kernel.event_subscriber"/>
        </service>
    </services>

</config>
